body{
    background: radial-gradient(at top,rgb(12, 12, 12),rgb(13, 13, 14));
}
.bg-light{
    background-color: #f8f9fa3a!important;
}
h1{
    -webkit-text-stroke:2px rgb(236, 232, 232);
    color:#111313af;
}